<footer class="footer bg">
    <div class="container-fluid">
        <div class="row">
         <div class="col-sm-2 text-left">
                       <a href=""><h5>Location</h5></a>
                       <a href=""><h5>Search</h5></a>
                       <a href=""><h5>Contact</h5></a>
                       <a href="/#/login"><h5>Login</h5></a>
                       <a href="/#/register"><h5>Register</h5></a>
         </div>   
         <div class="col-sm-2 text-left">
            
                   <a href="/#/dashboard"><h5>Home</h5></a> 
                   <a href=""><h5>Contact us</h5></a>
                   <a href=""><h5>Our service</h5></a>
                   <a href=""><h5>About this company</h5></a>
         </div>
         <div class="col-sm-3 text-left">
            
            <a href=""><h5>Cookie policy</h5></a> 
            <a href=""><h5>Privacy policy</h5></a>
            <a href=""><h5>Customer review</h5></a>
            <a href=""><h5>Product</h5></a>
        </div>
        <div class="col-md-4 text-left">
            <h2 class="spc-color">Badik Project</h2>
                
            <div class="row">
                <a href="" class="col-sm-2">
                    <i class="fa fa-facebook-f fa-2x" style="color: #3b5998;"></i>
                </a>
                <a href="" class="col-sm-2">
                    <i class="fa fa-instagram fa-2x" style="color: #ac2bac;"></i>
                </a>
                <a href="" class="col-sm-2">
                    <i class="fa fa-twitter fa-2x" style="color: #55acee;"></i>
                </a>
                <a href="" class="col-sm-2">
                    <i class="fa fa-youtube fa-2x" style="color: #ed302f;"></i>
                </a>
                <a href="" class="col-sm-2">
                    <i class="fa fa-whatsapp fa-2x" style="color: #25d366;"></i>
                </a>

            </div>
            
            
            <p>PT Badik project(ID) Jl Pejaten Raya no 45b, Kec. Ps. Minggu Jakarta Selatan</p>
        </div>
    </div>
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Badik Project
                    </a>
                </li>
                <li>
                    <a href="">
                        About Us
                    </a>
                </li>
            
                <li>
                    <a href="">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-left">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="" target="_blank">Badik Tim</a> for a better web.
        </div>
    </div>
</footer>
