<div class="main-content">
    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                        <img src="assets/img/biji_kopi_gayo.png"/>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Kopi Gayo</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                        <img src="assets/img/biji_kopi_toraja.png"/>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Kopi Toraja</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 12% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                        <img src="assets/img/biji_kopi_lampung.jpeg"/>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Kopi Lampung</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 88% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 15 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
